# Activer la réécriture d'URL
RewriteEngine On

# Autoriser l'accès direct aux fichiers existants (CSS, JS, images...)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rediriger toutes les autres requêtes vers index.php (Symfony)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Désactiver l'affichage des erreurs PHP en production
php_flag display_errors Off
php_flag log_errors On


# Désactiver l'indexation des fichiers
Options -Indexes
