RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://www.quentin-bastos.com/$1 [R,L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

DirectoryIndex index.php index.html