/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    background: #191d1e; /* Old browsers */
    background: -moz-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* IE10+ */
    background: linear-gradient(0deg, #191d1e 50%, #283139 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191d1e', endColorstr='#283139', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

::-webkit-scrollbar-track {
    background: #191d1e; /* Old browsers */
    background: -moz-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* IE10+ */
    background: linear-gradient(0deg, #191d1e 50%, #283139 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191d1e', endColorstr='#283139', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(222, 222, 222); /* Color of the scrollbar thumb on hover */
    cursor: grab;
}

/* End scrollbar */

.smallBaseSize {
    font-size: clamp(0.4rem, 0.1rem + 7vw, 1rem);
}

.textBaseSize {
    font-size: clamp(1rem, .929rem + 7vw, 1.25rem);
}

.midMiddleBaseSize {
    font-size: clamp(1rem, 0.3rem + 2vw, 3rem);
}

.middleBaseSize {
    font-size: clamp(2rem, .5rem + 7vw, 7rem);
}

.titleBaseSize {
    font-size: clamp(2.5rem, .714rem + 8.93vw, 8.75rem);
}

.colorLightGray {
    color: #cdcdcd;
}

.uppercase {
    text-transform: uppercase;
}


/* Animated hover a */
.hoverA {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

.hoverA::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
}


.hoverA:hover::after {
    width: 100%;
    left: 0;
}

.col-3 {
    width: 33.33%;
}

.row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-0 {
    margin-top: 0;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.gap-1 {
    gap: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.gap-x-2 {
    gap: 0 2rem;
}

.mt-7 {
    margin-top: 7rem;
}