<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/projects.css">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/background.js"></script>
</head>
<body>
<canvas id="projector"></canvas>
<header>
    <nav>
        <ul>
            <li><a href="index.html.twig"><img class="logoQb" src="assets/img/logo_qb.png" alt="logo qb"></a>
            </li>
            <li class="rightMenu">
                <a href="../home/home_fr.html"><img class="flagCountry" src="assets/svg/france.svg"
                                                    alt="flag"></a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="wrapperProject">
        <div class="projectView">
            <div class="project">
                <img src="assets/img/chess.png" alt="chess">
                <div class="projectDescription">
                    <p class="projectTitle">ChessJS</p>
                    <p class="projectText">This is a website for playing chess locally. It is a project created for a
                        student project,
                        the website allow users to play chess with friends, save the game and watch the moves back.</p>
                    <div class="wrapFlex">
                        <div class="technologyUse">
                            <img class="technology" src="assets/img/icon/node.png" alt="nodejs">
                            <img class="technology" src="assets/img/icon/vue.png" alt="vueJs">
                            <img class="technology" src="assets/img/icon/typescript.png" alt="typescript">
                            <img class="technology" src="assets/img/icon/tailwinds.png" alt="tailwinds">
                            <img class="technology" src="assets/img/icon/css.png" alt="css">
                        </div>
                        <p>Team of 2</p>
                    </div>
                    <a href="#" class="projectButton">See the project</a>
                </div>
            </div>
            <div class="project">
                <img src="assets/img/phase10.png" alt="webapp">
                <div class="projectDescription">
                    <p class="projectTitle">Phase 10</p>
                    <p class="projectText">This is a game that I created for a student project. It is a web
                        application that allows users to play Phase 10.</p>
                    <div class="wrapFlex">
                        <div class="technologyUse">
                            <img class="technology" src="assets/img/icon/node.png" alt="nodejs">
                            <img class="technology" src="assets/img/icon/angular.png" alt="angular">
                            <img class="technology" src="assets/img/icon/typescript.png" alt="typescript">
                            <img class="technology" src="assets/img/icon/socket.png" alt="socket">
                            <img class="technology" src="assets/img/icon/css.png" alt="css">
                            <img class="technology" src="assets/img/icon/js.png" alt="js">
                        </div>
                        <p>Team of 4</p>
                    </div>
                    <a href="#" class="projectButton">See the project</a>
                </div>
            </div>
            <div class="project">
                <img src="assets/img/interactiveBook.png" alt="mobileapp">
                <div class="projectDescription">
                    <p class="projectTitle">InteractiveBook</p>
                    <p class="projectText">This is student project that I created for making interactive books. It is a
                        web application that allows users to create, read and edit interactive books. The project use
                        OpenAI API to generate text.</p>
                    <div class="wrapFlex">
                        <div class="technologyUse">
                            <img class="technology" src="assets/img/icon/symfony.png" alt="symfony">
                            <img class="technology" src="assets/img/icon/tailwinds.png" alt="tailwinds">
                            <img class="technology" src="assets/img/icon/scss.png" alt="scss">
                            <img class="technology" src="assets/img/icon/js.png" alt="js">
                        </div>
                        <p>Team of 2</p>
                    </div>
                    <a href="#" class="projectButton">See the project</a>
                </div>
            </div>
            <div class="project">
                <img src="assets/img/interactiveBook.png" alt="mobileapp">
                <div class="projectDescription">
                    <p class="projectTitle">SpotifyAPI</p>
                    <p class="projectText">This is a project that I did for fun, it's a web application that allows
                        users to
                        search for songs and listen a part of them. The project use Spotify API to get the songs. You
                        can save the song to your favorite, there is an account system and other features</p>
                    <div class="wrapFlex">
                        <div class="technologyUse">
                            <img class="technology" src="assets/img/icon/symfony.png" alt="symfony">
                            <img class="technology" src="assets/img/icon/bootstrap.png" alt="bootstrap">
                            <img class="technology" src="assets/img/icon/scss.png" alt="scss">
                            <img class="technology" src="assets/img/icon/js.png" alt="js">
                        </div>
                        <p>Team of 1</p>
                    </div>
                    <a href="#" class="projectButton">See the project</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>